{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %}     
        {% for msg in mensagens %}
           {{ msg }}
        {% endfor %}
    {% endif %}
    
    <form action="/save" method="post">
        <label for="doador">Doador: </label>
        <input type="text" name="doador" id="doador">
        <label for="valor">Valor: </label>
        <input type="number" name="valor" id="valor">
        <label for="data">Data: </label>
        <input type="date" name="data" id="data">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
